body {
	background-image: url("../images/snagjeans_background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    font-family: "Calibri", serif;
    font-size: 25px;
	text-align: center;
    color: white;
}

h3 {
  font-size: 50px;
  margin-left: 25%;
  margin-top: -5%;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-left: 10px;}

div.background {
  position: relative;
  /* background-color: #FFE16D; */
  /* opacity: .6; */
  /* border: 2px solid #FFE16D ; */
  width: 40%;
  margin-left: 50%;
  margin-top: 10%;

}

div.transbox {
  position: relative;
  margin: 30px;
  /* background-color: #ffffff; */
  /* border: 1px solid lightgray ; */
  /* opacity: 0.7; */
  width: 82%;
  margin-left: 20%;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  color: #1F467F;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Georgia, Serif;
}

#listdisplay {
	color: black;
  font-size: 30px;
  font-weight: bold;
	margin-top: 5%;
  margin-bottom: 10%;
}

#FB_Login {
  background-image: url('../images/FBlogin.png');
  height: 200px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 400px;
  color: #000000;
  text-indent: -999em;
  border: 0;
  display: inline-block;
  margin-left: 20%;
  margin-top: -10%;
}

#foodTotal {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-left: -50px;
}